[*.cs]

# IDE0019: Utiliser les critères spéciaux
csharp_style_pattern_matching_over_as_with_null_check = false:suggestion

# IDE0016: Utiliser l'expression 'throw'
csharp_style_throw_expression = false:suggestion
